<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB3DKRyJ_ny-2Yfuzh9ihfe-sIVGDh3cd8</string>
	<key>GCM_SENDER_ID</key>
	<string>808653467726</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kirito.project.Arise</string>
	<key>PROJECT_ID</key>
	<string>arise-3cfbe</string>
	<key>STORAGE_BUCKET</key>
	<string>arise-3cfbe.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:808653467726:ios:a822ac65759d3cddc0d31f</string>
</dict>
</plist>